body {
     background-color: pink;
     font-family: Arial, Helvetica, sans-serif;
     padding: 60px 20px;
     margin: 0;
     text-align: center;
}


.box {
     width: 330px;
     background: white;
     padding: 30px;
     border: 2px solid red;
     border-radius: 10px;
     text-align: center;

     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);

     z-index: 10;

}


h1 {
     color: red;
     margin-bottom: 5px;
}

p {
     color: gray;
}


input {
     width: 90%;
     padding: 12px;
     border-radius: 8px;

     

}
input:focus {
     outline: none;
     border-color: red;
}

button {
     font-size: 16px;
     border: none;
     cursor: pointer;
     border: none;
     border-radius: 8px;
     padding: 11px 20px;
}


#CalculateButton {
     background-color: orange;
     color: white;
}
#resultBox {
     margin-top: 20px;
     background-color: lightcoral;
     padding: 15px;
     border-radius: 18px;
}

#result {
     font-size: 28px;
     font-weight: bold;
     color: darkred;
}


.wall {
     position: absolute;

     top: 0;
     left: 0;
     width: 100vw;
     height: 100vh;
     overflow: hidden;

     z-index: 1;

     pointer-events: none;

}

.wall h2 {

     text-align: center;
     padding-top: 20px;
     color: purple;
     margin-bottom: 5px;
}

.wall-names {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     display: flex;
     
     justify-content: center;



}

.name-card {

     position: absolute;

     width: 190px;

     display: flex;

     align-items: center;
     justify-content: center;
     background-color: white;
     padding: 15px 20px;
     border-radius: 10px;
     border: 2px solid hotpink;
     box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
     font-size: 25px;
     text-align: center;
     font-size: 16px;
     color: black;
}


.pair {
     font-weight: bold;
     line-height: 1.4;
}

.name-card:nth-child(1) {
     top: 100px;
     left: 5%;
     transform: rotate(-5deg);
}


.name-card:nth-child(2) {
     top:90px;
     left:25%;

     transform: rotate(4deg);
}

.name-card:nth-child(3) {
     top:105px;
     right:25%;

     transform: rotate(-3deg);
}


.name-card:nth-child(4){
     top:110px;
     right:5%;
     transform: rotate(5deg);
}


.name-card:nth-child(5) {
     top: 280px;
     left: 3%;

     transform: rotate(4deg);
}

.name-card:nth-child(6){
     top:300px;
     right: 3%;

     transform: rotate(-5deg);
}

.name-card:nth-child(7) {
     top: 180px;
     left: 8%;

     transform: rotate(-4deg);
}

.name-card:nth-child(8){
     top: 150px;
     right: 30%;

     transform: rotate(3deg);
}

.name-card:nth-child(9) {

     bottom: 170px;
     right: 28%;

     transform: rotate(-4deg);
}

.name-card:nth-child(10) {
     bottom:150px ;
     right: 26% ;

     transform: rotate(-3deg);
}

.name-card:nth-child(11) {
     bottom: 130px;

     right: 28%;

     transform: rotate(-3deg);
}

.name-card:nth-child(12) {
     bottom: 110px;
     right: 20%;

     transform: rotate(-2deg);
}